:root {
    --color-primario: #c0392b;
    --color-secundario: #4682B4;
    --color-terciario: #28b463;
    --color-fondo: #F97316;
  }
  
  /* General */
  #home {
    background-color: #F97316; /* Cambia al color que prefieras */
  }
  #nosotros {
    background-color: #E5E7EB;
    padding-top: 1.5rem; /* Reduce el espacio superior */
    padding-bottom: 1.5rem; /* Reduce el espacio inferior */
    margin-bottom: 1rem; /* Reduce espacio entre el título y el párrafo */
  }

  body {
    background-color: var(--color-fondo);
    animation: gradient 10s infinite ease;
  }
  
  header {
    background-color: var(--color-secundario);
    
  }
  
  header a, button, .nav-link {
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  button, .cta-button {
    background-color: var(--color-primario);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  button:hover, .cta-button:hover, .nav-link:hover {
    background-color: #28b463;
    transform: scale(1.1);
  }
  
  /* Valores, Misión y Visión */
  .value-card {
    background: rgb(238, 15, 15);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .value-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Carrusel */
  .carousel-inner {
    width: 80%;
    margin: 0 auto;
  }
  
  .carousel-inner img {
    width: 80%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-inner img:hover {
    transform: scale(0.8);
  }
  
  /* Animaciones */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes gradient {
    0%, 100% { background: linear-gradient(135deg, #165ebd, #1E40AF); }
    50% { background: linear-gradient(135deg, #FBBF24, #e2a50b); }
  }
  
  section {
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Hover Titles */
  h1, h2, h3 {
    transition: color 0.3s ease;
  }
  
  h1:hover, h2:hover, h3:hover {
    color: #2C6B35;
  }
  
  /* Cuadros */
  .cuadro {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  