.containerContacto {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; /* Espacio entre elementos */
    padding: 5%;
    max-width: 100%;
    margin: 0 auto;
}

.map-container {
    grid-column: span 2; 
    margin-bottom: 20px;
}

.form-container {
    display: grid; 
    grid-template-rows: auto;
    gap: 10px; 
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column; 
}

.form-label {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 3px;
    display: inline-block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid #ccc;
    border-radius: 5px;
}

.btn-enviar {
    padding: 7px;
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.btn-enviar:hover {
    background-color: #2f92fc; 
}

.img-estilo {
    padding-left: 15px;
    border-radius: 50px;
    height: 100%;
}
/* Responsividad */
@media (max-width: 768px) {
    .containerContacto {
        grid-template-columns: 1fr;
    }

    .map-container {
        grid-column: span 1; 
    }
}